body {
  padding: 3%;
}
header {
  background: lightblue;
}
section {
  background: lightgreen;
  width: 75%;
  border: -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;


  float: left;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
  width: 25%;
  float: right;
  border:-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
header, article, section, .module {
  padding: 1%;
}

